################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/code/.vs/TechControl/v16/.suo
/code/bin
/code/obj
/code/packages
/code/TechControl.sln
structure.metadata.bak
code/.vs/TechControl/v17/.suo
structure.metadata.bak
code/.vs/TechControl/v17/.suo
*.p7s
*.vsidx
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl.csproj.dtbcache.json
code/.vs/TechControl.csproj.dtbcache.json
code/app.config
code/.vs/TechControl/v17/fileList.bin
/code/.vs
code/.vs/TechControl.csproj.dtbcache.json
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl.csproj.dtbcache.json
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl.csproj.dtbcache.json
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl/v17/fileList.bin
code/.vs/TechControl.csproj.dtbcache.json
