<configuration>
	<appSettings>
		<add key="ServerAddress" value=""/> 
		<add key="DatabaseName" value=""/> 
		<add key="UserName" value=""/> 
		<add key="Password" value=""/> 
		<add key="UseUserName" value=""/> 
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
