<configuration>
	<appSettings>
    
    <!--<add key="ServerAddress" value="10.10.4.191"/> 
		<add key="DatabaseName" value="TechControl"/> 
		<add key="UserName" value="sa"/> 
		<add key="Password" value="Soft2015"/> 
		<add key="UseUserName" value="False"/>-->

    <!--<add key="ServerAddress" value="192.168.1.133"/>
    <add key="DatabaseName" value="TitanControl"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="NSG-Soft2020"/>
    <add key="UseUserName" value="False"/>-->
    
    
    <add key="ServerAddress" value="10.10.4.191"/>
    <add key="DatabaseName" value="TechControl_Copy"/>
    <!--<add key="DatabaseName" value="TitanControl"/>-->
    <add key="UserName" value="sa"/>
    <add key="Password" value="Soft2015"/>
    <add key="UseUserName" value="False"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ISpicAuthorizationSoapService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapNavigationValidationStatisticsService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapOnlineDataService" maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapOnlineDataWithSensorsService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapStatisticsControllerService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapUnitsService" maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapTrackPeriodsMileageStatisticsService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicAuthorizationSoapService1"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicAuthorizationSoapService2"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapNavigationValidationStatisticsService1"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapOnlineDataService1"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapOnlineDataWithSensorsService1"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapTrackPeriodsMileageStatisticsService1"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapStatisticsControllerService1"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapUnitsService1" maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapMotorModesStatisticsService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_ISpicSoapFuelingDefuelingStatisticsService"
     maxReceivedMessageSize="104857600" />
    <binding name="BasicHttpBinding_IUtilityWebService" />
    <binding name="BasicHttpBinding_IEventRibbonService" />
    <binding name="BasicHttpBinding_ISpicSoapGeofenceVisitsStatisticsService" />
    <binding name="BasicHttpBinding_ISpicSoapGeofenceService" />
    <binding name="BasicHttpBinding_ISpicSoapNavigationFiltrationStatisticsService" maxReceivedMessageSize="104857600" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://login.scout-gps.ru/spic/auth/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicAuthorizationSoapService"
    contract="ServiceReferenceAuth.ISpicAuthorizationSoapService"
    name="BasicHttpBinding_ISpicAuthorizationSoapService" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapNavigationValidationStatisticsService"
    contract="ServiceReferenceNavigationValidation.ISpicSoapNavigationValidationStatisticsService"
    name="BasicHttpBinding_ISpicSoapNavigationValidationStatisticsService" />
   <endpoint address="http://login.scout-gps.ru/spic/OnlineDataService/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapOnlineDataService"
    contract="ServiceReferenceOnlineData.ISpicSoapOnlineDataService"
    name="BasicHttpBinding_ISpicSoapOnlineDataService" />
   <endpoint address="http://login.scout-gps.ru/spic/OnlineDataWithSensorsService/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapOnlineDataWithSensorsService"
    contract="ServiceReferenceOnlineDataSensors.ISpicSoapOnlineDataWithSensorsService"
    name="BasicHttpBinding_ISpicSoapOnlineDataWithSensorsService" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/StatisticsController/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapStatisticsControllerService"
    contract="ServiceReferenceStatistics.ISpicSoapStatisticsControllerService"
    name="BasicHttpBinding_ISpicSoapStatisticsControllerService" />
   <endpoint address="http://login.scout-gps.ru/spic/units/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapUnitsService"
    contract="ServiceReferenceUnits.ISpicSoapUnitsService" name="BasicHttpBinding_ISpicSoapUnitsService" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/trackPeriodsMileage/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapTrackPeriodsMileageStatisticsService"
    contract="ServiceReferenceMileage.ISpicSoapTrackPeriodsMileageStatisticsService"
    name="BasicHttpBinding_ISpicSoapTrackPeriodsMileageStatisticsService" />
   <endpoint address="http://login.scout-gps.ru/spic/auth/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicAuthorizationSoapService1"
    contract="ServiceReferenceAuthnication.ISpicAuthorizationSoapService"
    name="BasicHttpBinding_ISpicAuthorizationSoapService1" />
   <endpoint address="http://login.scout-gps.ru/spic/auth/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicAuthorizationSoapService2"
    contract="ServiceReferenceAuthorization.ISpicAuthorizationSoapService"
    name="BasicHttpBinding_ISpicAuthorizationSoapService2" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapNavigationValidationStatisticsService1"
    contract="ServiceReferenceValidationNavigation.ISpicSoapNavigationValidationStatisticsService"
    name="BasicHttpBinding_ISpicSoapNavigationValidationStatisticsService1" />
   <endpoint address="http://login.scout-gps.ru/spic/OnlineDataService/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapOnlineDataService1"
    contract="ServiceReferenceDataOnline.ISpicSoapOnlineDataService"
    name="BasicHttpBinding_ISpicSoapOnlineDataService1" />
   <endpoint address="http://login.scout-gps.ru/spic/OnlineDataWithSensorsService/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapOnlineDataWithSensorsService1"
    contract="ServiceReferenceDataOnlineSensors.ISpicSoapOnlineDataWithSensorsService"
    name="BasicHttpBinding_ISpicSoapOnlineDataWithSensorsService1" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/trackPeriodsMileage/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapTrackPeriodsMileageStatisticsService1"
    contract="ServiceReferenceTrackPeriods.ISpicSoapTrackPeriodsMileageStatisticsService"
    name="BasicHttpBinding_ISpicSoapTrackPeriodsMileageStatisticsService1" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/StatisticsController/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapStatisticsControllerService1"
    contract="ServiceReferenceControllerStistics.ISpicSoapStatisticsControllerService"
    name="BasicHttpBinding_ISpicSoapStatisticsControllerService1" />
   <endpoint address="http://login.scout-gps.ru/spic/units/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapUnitsService1"
    contract="ServiceReferenceUnitsSpic.ISpicSoapUnitsService" name="BasicHttpBinding_ISpicSoapUnitsService1" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/MotorModes/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapMotorModesStatisticsService"
    contract="ServiceReferenceMotorModes.ISpicSoapMotorModesStatisticsService"
    name="BasicHttpBinding_ISpicSoapMotorModesStatisticsService" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/fdstat/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapFuelingDefuelingStatisticsService"
    contract="ServiceReferenceFDStat.ISpicSoapFuelingDefuelingStatisticsService"
    name="BasicHttpBinding_ISpicSoapFuelingDefuelingStatisticsService" />
   <endpoint address="http://10.10.4.160:5072/UtilityService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilityWebService"
    contract="UtilityServiceWeb.IUtilityWebService" name="BasicHttpBinding_IUtilityWebService" />
   <endpoint address="http://127.0.0.1:3396/Service2.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IEventRibbonService" contract="EventRibbonService.IEventRibbonService"
    name="BasicHttpBinding_IEventRibbonService" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/geofencevisits/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapGeofenceVisitsStatisticsService"
    contract="SpicSoapGeofenceVisitsStatisticsService.ISpicSoapGeofenceVisitsStatisticsService"
    name="BasicHttpBinding_ISpicSoapGeofenceVisitsStatisticsService" />
   <endpoint address="http://login.scout-gps.ru/spic/geofences/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapGeofenceService"
    contract="SpicGeofenceService.ISpicSoapGeofenceService" name="BasicHttpBinding_ISpicSoapGeofenceService" />
   <endpoint address="http://login.scout-gps.ru:8081/spic/NavigationFiltration/soap"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapNavigationFiltrationStatisticsService"
    contract="SpicNavigationFiltrationStatisticsService.ISpicSoapNavigationFiltrationStatisticsService"
    name="BasicHttpBinding_ISpicSoapNavigationFiltrationStatisticsService" />
  </client>
 </system.serviceModel>
</configuration>
